{
  "env": {
    "es2021": true,
    "node": true
  },
  "extends": [
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.json",
    "tsconfigRootDir": "./"
  },
  "settings": {
    "import/resolver": {
      "typescript": {},
      "node": {
        "extensions": [".ts"]
      }
    }
  },
  "plugins": ["import", "prettier", "@typescript-eslint"],
  "rules": {
    "no-console": ["error", { "allow": ["warn", "error", "info"] }],
    "import/prefer-default-export": "off",
    "import/extensions": [
      "error",
      {
        "ts": "never"
      }
    ]
  }
}
